In [1]:
import pandas as pd
import numpy as np
import re

# Transformar o Float64 >> para melhor visualização
pd.set_option('float_format','{:,.2f}'.format)

# Retirar Criticas
pd.set_option('mode.chained_assignment', None)

In [11]:
itens_patrim = pd.read_excel('Itens Patrimoniais.xlsx', header=3, dtype=object)
itens_patrim.drop(itens_patrim.tail(3).index, inplace=True)
itens_patrim

,Código,Nome,Código Tipo,Tipo,IMPLICA Despesa,SE Despesa,SE Receita,IMPLICA Receita,Subitem,Ativo,Tipo Ativo
0,0,NÃO DEFINIDO,0,Não definido (necessário também para cancelame...,NaN,NaN,NaN,NaN,00,Sim,Sim
1,1721,SERVIÇOS DE TELEFONIA FIXA,43,Serviços de Terceiros - Pessoa Jurídica,[NATUREZA].[CÓDIGO] = 339039 ou \n[NATUREZA].[...,NaN,NaN,NaN,06,Sim,Sim
2,1911,IRRF,44,Receita de Tributos - IRRF,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] = 1113031101,[NATUREZA DA RECEITA].[CÓDIGO] = 1113031101,NaN,Sim,Sim
3,1981,RECEITA DECORRENTE DE ALIENAÇÃO DE BENS APREEN...,181,Receitas Diversas,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] = 1931021101,[NATUREZA DA RECEITA].[CÓDIGO] = 1931021101,NaN,Sim,Sim
4,1984,PRODUTOS DE DEPÓSITOS ABANDONADOS,181,Receitas Diversas,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] = 1931030101,[NATUREZA DA RECEITA].[CÓDIGO] = 1931030101,NaN,Sim,Sim
...,...,...,...,...,...,...,...,...,...,...,...
2050,6491,Restituição a estudante servidor da CGE-RJ,90,Indenizações e Restituições,[NATUREZA].[CÓDIGO] termina com 93 ou [NATUREZ...,NaN,NaN,NaN,13,Sim,Sim
2051,6492,EMENDAS IMPOSITIVAS AO ORÇAMENTO DA UNIÃO,75,Transferências Intergovernamentais Recebidas,NaN,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] pertence (17195...,NaN,Sim,Sim
2052,6493,TAXA DE COLETA DE LIXO,89,Obrigações Tributárias e Contributivas,[NATUREZA].[CÓDIGO] = 339047,NaN,NaN,NaN,17,Sim,Sim
2053,6494,MULTAS PREV LEG ESPEC-NATUREZA FORMAL COMP FIN...,204,Receitas de Multas e Juros de Mora,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010109,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010109,NaN,Sim,Sim
2054,6495,MULTAS PREV LEG ESPEC-NATUREZA FORMAL COMP FIN...,204,Receitas de Multas e Juros de Mora,NaN,NaN,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010209,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010209,NaN,Sim,Sim

In [46]:
# itens_receita = itens_patrim.dropna(subset=['IMPLICA Receita'])
# itens_receita = itens_receita.query('Ativo == "Sim"')
# itens_receita.drop(['SE Despesa', 'SE Receita', 'IMPLICA Despesa', 'Subitem', 'Ativo', 'Tipo Ativo'], axis=1, inplace=True)
# itens_receita

,Código,Nome,Código Tipo,Tipo,IMPLICA Receita
2,1911,IRRF,44,Receita de Tributos - IRRF,[NATUREZA DA RECEITA].[CÓDIGO] = 1113031101
3,1981,RECEITA DECORRENTE DE ALIENAÇÃO DE BENS APREEN...,181,Receitas Diversas,[NATUREZA DA RECEITA].[CÓDIGO] = 1931021101
4,1984,PRODUTOS DE DEPÓSITOS ABANDONADOS,181,Receitas Diversas,[NATUREZA DA RECEITA].[CÓDIGO] = 1931030101
5,1995,VENDA DE BILHETES DA LOTERJ-LOT.TRADICIONAL,181,Receitas Diversas,[NATUREZA DA RECEITA].[CÓDIGO] = 1999992101
6,2038,COTA-PARTE DO FUNDO DE PARTICIPAÇÃO DOS ESTADO...,75,Transferências Intergovernamentais Recebidas,[NATUREZA DA RECEITA].[CÓDIGO] pertence (1711...
...,...,...,...,...,...
2045,6486,OUTRAS APLICAÇÕES FINANCEIRAS DE LIQUIDEZ IMED...,290,Aplicações Financeiras de Liquidez Imediata - ...,[NATUREZA DA RECEITA].[CÓDIGO] pertence (13210...
2049,6490,ATIVOS FINANCEIROS DE RENDA FIXA - INSTITUIÇÃ...,203,Investimentos e Aplicações Temporárias RPPS,[NATUREZA DA RECEITA].[CÓDIGO] pertence (13210...
2051,6492,EMENDAS IMPOSITIVAS AO ORÇAMENTO DA UNIÃO,75,Transferências Intergovernamentais Recebidas,[NATUREZA DA RECEITA].[CÓDIGO] pertence (17195...
2053,6494,MULTAS PREV LEG ESPEC-NATUREZA FORMAL COMP FIN...,204,Receitas de Multas e Juros de Mora,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010109
2054,6495,MULTAS PREV LEG ESPEC-NATUREZA FORMAL COMP FIN...,204,Receitas de Multas e Juros de Mora,[NATUREZA DA RECEITA].[CÓDIGO] = 1911010209

# DESPESA

In [12]:
itens_despesa = itens_patrim.dropna(subset=['IMPLICA Despesa'])
itens_despesa = itens_despesa.query('Ativo == "Sim"')
itens_despesa.drop(['SE Despesa', 'SE Receita', 'IMPLICA Receita', 'Ativo', 'Tipo Ativo'], axis=1, inplace=True)

# Função dinâmica para substituir o padrão
def substituir_codigo(text):
    start_match = re.search(r'começa com (\d+)', text)
    end_match = re.search(r'termina com (\d+)', text)

    if start_match and end_match:
        x = start_match.group(1)
        y = end_match.group(1)
        return f'{x}XX{y}'
    elif start_match:
        z = start_match.group(1)
        return f'{z}XX'
    elif end_match:
        w = end_match.group(1)
        return f'YYXX{w}'
    else:
        return text

# Aplicando a função em cada linha do DataFrame
itens_despesa['IMPLICA Despesa'] = itens_despesa['IMPLICA Despesa'].apply(substituir_codigo)

# Dividir as string na coluna 'IMPLICA Despesa' por quebra de linha
df_despesa = itens_despesa['IMPLICA Despesa'].str.split('\n', expand=True)

# Reformata o DataFrame para ter cada item da String em uma nova linha
df_dps = (
    itens_despesa
    .set_index(['Código', 'Nome', 'Código Tipo', 'Tipo', 'Subitem'])
     .apply(lambda row: row.str.split(r'\n| ou ? | OU ', regex=True).explode())
    .reset_index()
)

# Remover linhas com valores vazios na coluna 'IMPLICA Despesa'
df_dps = df_dps[df_dps['IMPLICA Despesa'].str.strip() != '']

# Remover onde 'IMPLICA Despesa' termina com um parêntese
df_dps['IMPLICA Despesa'] = df_dps['IMPLICA Despesa'].str.rstrip(') ').str.strip()

# Função para pegar os últimos seis caracteres da string com espaços removidos
def pegar_digitos_para_nd(text):
    # Remove espaços em branco e textos não especificados
    text = text.replace(" ", "").replace("ou", "").replace("'", "").replace("OU", "")
    
    # Se a string é maior que 10 caracteres, retornar os últimos 6
    if len(text) > 10:
        return text[-6:]
    # Se a string tem 10, 8 ou 6 caracteres, retornar os primeiros 6
    elif len(text) in [10, 8, 6]:
        return text[:6]
    return text

# Aplicar a função em cada linha do DataFrame
df_dps['ND'] = df_dps['IMPLICA Despesa'].apply(pegar_digitos_para_nd)

df_dps

,Código,Nome,Código Tipo,Tipo,IMPLICA Despesa,Subitem
1,1721,SERVIÇOS DE TELEFONIA FIXA,43,Serviços de Terceiros - Pessoa Jurídica,[NATUREZA].[CÓDIGO] = 339039 ou \n[NATUREZA].[...,06
22,2067,OUTRAS TRANSFERÊNCIAS DE CONVÊNIOS DA UNIÃO E ...,145,Direitos Conveniados,[NATUREZA].[CÓDIGO] = 339093 ou\n [NATUREZA...,02
23,2070,OUTRAS TRANSFERÊNCIAS DE CONVÊNIO DOS ESTADOS,145,Direitos Conveniados,[NATUREZA].[CÓDIGO] = 339093 ou [NATUREZA].[CÓ...,02
24,2072,OUTRAS TRANSFERÊNCIAS DE CONVÊNIO DOS MUNICÍPIOS,145,Direitos Conveniados,[NATUREZA].[CÓDIGO] = 339093 ou \n[NATUREZA].[...,02
25,2074,TRANSFERÊNCIA DE CONVÊNIO COM A POLÍCIA RODOVI...,145,Direitos Conveniados,[NATUREZA].[CÓDIGO] = 339093 ou \n[NATUREZA].[...,02
...,...,...,...,...,...,...
2042,6483,SALÁRIO-FAMÍLIA - ATIVO PESSOAL CLT,156,Outros Benefícios Assistenciais do Servidor - ...,[NATUREZA].[CÓDIGO] = 339008,38
2046,6487,DEA - EDIFÍCIOS,80,Imóveis de Uso Especial,[NATUREZA].[CÓDIGO] = 459092,01
2047,6488,Catraca de controle de acesso predial,41,Bens Móveis - Equipamentos e Material Permanente,[NATUREZA].[CÓDIGO] = 449052,45
2050,6491,Restituição a estudante servidor da CGE-RJ,90,Indenizações e Restituições,[NATUREZA].[CÓDIGO] termina com 93 ou [NATUREZ...,13
2052,6493,TAXA DE COLETA DE LIXO,89,Obrigações Tributárias e Contributivas,[NATUREZA].[CÓDIGO] = 339047,17

In [17]:
df_dps.to_excel('DPS_teste.xlsx')